[submodule "external/cafe_glyphs"]
	path = external/cafe_glyphs
	url = https://github.com/dkosmari/cafe_glyphs.git
[submodule "external/glaze"]
	path = external/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/dkosmari/imgui.git
[submodule "external/libmocha"]
	path = external/libmocha
	url = https://github.com/wiiu-env/libmocha.git
[submodule "external/wiiu-stdout"]
	path = external/wiiu-stdout
	url = https://github.com/dkosmari/wiiu-stdout.git
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc.git
[submodule "external/hips"]
	path = external/hips
	url = https://github.com/dkosmari/Hips.git
